<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 
    - primary meta tags
  -->
    <title>MasalaDhaba | Indian Bar & Restaurant&reg;</title>
    <meta name="title" content="MasalaDhaba - Indian Bar & Restaurant" />
    <meta
      name="description"
      content="This is a Restaurant html template made by codewithsadee"
    />

    <!-- 
    - favicon
  -->
    <link
      rel="shortcut icon"
      href="/img/logo.png"
      type="image/svg+xml"
    />

    <!-- 
    - custom css link
  -->
   <link rel="stylesheet" type="text/css" href="/css/style.css"> 
<!--  <link rel="stylesheet" type="text/css" href="./style.css">-->
  </head>

  <body id="top">
    <!-- 
    - #PRELOADER
  -->

    <div class="preload" data-preaload>
      <div class="preloader-container">
        <img
          src="/img/logo.png"
          alt="Restaurant Logo"
          class="preloader-logo"
        />
      </div>
    </div>

    <!-- 
    - #HEADER
  -->

    <header class="header">
      <div class="container">
        <a href="#" class="logo">
          <img
            src="/img/logofull.png"
            width="230"
            height="90"
            alt="- Home"
          />
        </a>

        <nav class="navbar" data-navbar>
          <button class="close-btn" aria-label="close menu" data-nav-toggler>
            <img src="img/backword.png" alt="Close" aria-hidden="true">
          </button>
          

          <a href="#" class="logo">
            <img
              src="/img/logofull.png"
              width="230"
              height="90"
              alt="- Home"
            />
          </a>

          <ul class="navbar-list">
            <li class="navbar-item">
              <a href="#home" class="navbar-link active">
  

                <span class="span">Home</span>
              </a>
            </li>

            <li class="navbar-item">
              <a href="#about" class="navbar-link">

                <span class="span">About Us</span>
              </a>
            </li>

            <li class="navbar-item">
              <a href="#menu" class="navbar-link">


                <span class="span">Menus</span>
              </a>
            </li>



            <li class="navbar-item">
              <a href="/time" class="navbar-link">


                <span class="span">Timings</span>
              </a>
            </li>

            <li class="navbar-item">
              <a href="#reservation" class="navbar-link">
                <span class="span">Reserve a table</span>
              </a>
            </li>
          </ul>

          <div class="text-center">
            <p class="headline-1 navbar-title">Visit Us</p>

            <address class="body-4">
              217 Station Road Harrow, <br />
              Harrow HA1 2TH London
            </address>


            <a href="#" class="body-4 contact-link"
              >info@masaladhaba.co.uk</a
            >

            <p class="contact-label">Booking Request</p>

            <a href="tel:+442035607407" class="body-4 contact-link"
              >020 3560 7407</a
            >
          </div>
        </nav>


        <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
          <span class="line line-1"></span>
          <span class="line line-2"></span>
          <span class="line line-3"></span>
        </button>

        <div class="overlay" data-nav-toggler data-overlay></div>
      </div>
    </header>

    <main>
      <article>
        <!-- 
        - #HEROr
      -->

      <section class="hero text-center" aria-label="home" id="home">
        <ul class="hero-slider" data-hero-slider>
          <li class="slider-item active" style="background-image: url('/img/homedosa.jpg');"></li>
          <li class="slider-item" style="background-image: url('/img/kabhab.jpg');"></li>
          <li class="slider-item" style="background-image: url('/img/briyani.jpg');"></li>
          <li class="slider-item" style="background-image: url('/img/homer2.jpg');"></li>
          <li class="slider-item" style="background-image: url('/img/ram.jpg');"></li>
          <li class="slider-item" style="background-image: url('/img/wine.jpg');"></li>
        </ul>
      
        <h1 class="display-1 hero-title slider-reveal">Masala dhaba</h1>
      </section>
      

        <!-- 
        - #SERVICE
      -->

        <section
          class="section service bg-black-10 text-center"
          aria-label="service"
        >
          <div class="container">
            <p class="section-subtitle label-2">Flavors of India</p>

            <h2 class="headline-1 section-title">
              We invite you to experience the true essence of Indian flavors in every bite.
            </h2>

            <p class="section-text">
              Whether it’s a casual meal or a festive celebration, our menu brings flavors of India to delight every plate.
            </p>

            <ul class="grid-list">
              <li>
                <div class="service-card">
                  <a href="#" class="has-before hover:shine">
                    <figure
                      class="card-banner img-holder"
                      style="--width: 285; --height: 336"
                    >
                      <img
                        src="/img/good2.jpg"
                        width="285"
                        height="336"
                        loading="lazy"
                        alt="Breakfast"
                        class="img-cover"
                      />
                    </figure>
                  </a>

                  <div class="card-content">
                    <h3 class="title-4 card-title">
                      <a href="#">Breakfast</a>
                    </h3>

                    <a href="/breakfast" class="btn-text label-2"
                      >View Menu</a
                    >
                  </div>
                </div>
              </li>

              <li>
                <div class="service-card">
                  <a href="#" class="has-before hover:shine">
                    <figure
                      class="card-banner img-holder"
                      style="--width: 285; --height: 336"
                    >
                      <img
                        src="/img/good.jpg"
                        width="285"
                        height="336"
                        loading="lazy"
                        alt="Appetizers"
                        class="img-cover"
                      />
                    </figure>
                  </a>

                  <div class="card-content">
                    <h3 class="title-4 card-title">
                      <a href="#">Appetizers</a>
                    </h3>

                    <a href="/lunch" class="btn-text label-2"
                      >View Menu</a
                    >
                  </div>
                </div>
              </li>

              <li>
                <div class="service-card">
                  <a href="#" class="has-before hover:shine">
                    <figure
                      class="card-banner img-holder"
                      style="--width: 285; --height: 336"
                    >
                      <img
                        src="/img/desserts.jpg"
                        width="285"
                        height="336"
                        loading="lazy"
                        alt="Drinks"
                        class="img-cover"
                      />
                    </figure>
                  </a>

                  <div class="card-content">
                    <h3 class="title-4 card-title">
                      <a href="#">Desserts</a>
                    </h3>

                    <a href="/desserts" class="btn-text label-2"
                      >View Menu</a
                    >
                  </div>
                </div>
              </li>
            </ul>

            <img
              src="/img/bottomr.png"
              width="246"
              height="412"
              loading="lazy"
              alt="shape"
              class="shape shape-1 move-anim"
            />
            <img
              src="/img/clipart876929.png"
              width="343"
              height="345"
              loading="lazy"
              alt="shape"
              class="shape shape-2 move-anim"
            />
          </div>
        </section>

        <!-- 
        - #ABOUT
      -->

        <section
          class="section about text-center"
          aria-labelledby="about-label"
          id="about"
        >
          <div class="container">
            <div class="about-content">
              <p class="label-2 section-subtitle" id="about-label">Our Story</p>

              <h2 class="headline-1 section-title">
                Discover all your favorite
              </h2>

              <p class="section-text">
                Welcome to Masala Dhaba, a vibrant celebration of India’s culinary traditions, right in the heart of London. Inspired by the iconic Dhabas that of India, our restaurant blends rustic charm with the energy of city life to deliver an unforgettable dining experience.
                Here, we believe food is more than just a meal—it’s a connection to culture, memories, and shared joy. Our menu is a tribute to India’s rich flavour's and honoured recipes, prepared with authentic spices, fresh ingredients, and a touch of love in every dish. From sizzling tandoori delights to indulgent curries and fragrant biryanis, each bite captures the essence of Indian hospitality and warmth.At Masala Dhaba, every meal is a story, and you are at the heart of it.
              </p>


            </div>

            <figure class="about-banner">
              <img
                src="/img/dosa.jpg"
                width="570"
                height="570"
                loading="lazy"
                alt="about banner"
                class="w-100"
                data-parallax-item
                data-parallax-speed="1"
              />

              <div
                class="abs-img abs-img-1 has-before"
                data-parallax-item
                data-parallax-speed="1.75"
              >
                <img
                  src="/img/Gobi manchauri.jpg"
                  width="285"
                  height="285"
                  loading="lazy"
                  alt=""
                  class="w-100"
                />
              </div>

              <div class="abs-img abs-img-2 has-before">
                <img
                  src="/img/clipart876929.png"
                  width="133"
                  height="134"
                  loading="lazy"
                  alt=""
                />
              </div>
            </figure>

            <img
              src="/img/wine.jpg"
              width="197"
              height="194"
              loading="lazy"
              alt=""
              class="shape"
            />
          </div>
        </section>

        <!-- 
        - #SPECIAL DISH
      -->

        <section class="special-dish text-center" aria-labelledby="dish-label">
          <div class="special-dish-banner">
            <img
              src="/img/briyani.jpg"
              width="940"
              height="900"
              loading="lazy"
              alt="special dish"
              class="img-cover"
            />
          </div>

          <div class="special-dish-content bg-black-10">
            <div class="container">

              <p class="section-subtitle label-2">Special Dish</p>

              <h2 class="headline-1 section-title">Chicken Dum Biryani</h2>

              <p class="section-text">
                Indulge in our signature Chicken Biryani, where tender chicken
                meets fragrant basmati rice, layered with aromatic spices and
                slow-cooked to perfection. Served with cooling raita and tangy
                salan, this royal dish delivers a burst of authentic Indian
                flavors in every bite. Perfect for celebrations or casual
                cravings, it's a feast that warms the heart!"
              </p>

              <div class="wrapper">
                <del class="del body-3"></del>

                <span class="span body-1">£ 7.95</span>
              </div>

            </div>
          </div>
          <img
            src="/img/clipart876929.png"
            width="351"
            height="462"
            loading="lazy"
            alt=""
            class="shape shape-2"
          />
        </section>

        <!-- 
        - #MENU
      -->

      <section class="section menu" aria-label="menu-label" id="menu">
        <div class="container">
          <p class="section-subtitle text-center label-2">
            Special Selection
          </p>
      
          <h2 class="headline-1 section-title text-center">Delicious Menu</h2>
      
          <ul class="grid-list">
            <li>
              <div class="menu-card hover:card">
                <figure
                  class="card-banner img-holder"
                  style="--width: 100; --height: 100"
                >
                  <img
                    src="/img/menu/dosa.png"
                    width="100"
                    height="100"
                    loading="lazy"
                    alt="Chicken Briyani"
                    class="img-cover"
                  />
                </figure>
      
                <div>
                  <div class="title-wrapper">
                    <h3 class="title-3">
                      <a href="#" class="card-title">Masala Dosa</a>
                    </h3>
      
                    <span class="badge label-1"></span>
      
                    <span class="span title-2">£ 5.45</span>
                  </div>
      
                  <p class="card-text label-1">
                    Relish our authentic Masala Dosa—crispy, flavorful, and irresistibly South Indian!
                  </p>
                </div>
              </div>
            </li>
      
            <li>
              <div class="menu-card hover:card">
                <figure
                  class="card-banner img-holder"
                  style="--width: 100; --height: 100"
                >
                  <img
                    src="/img/menu/vada.png"
                    width="100"
                    height="100"
                    loading="lazy"
                    alt="Gulab jamun"
                    class="img-cover"
                  />
                </figure>
      
                <div>
                  <div class="title-wrapper">
                    <h3 class="title-3">
                      <a href="#" class="card-title">Medu Vada 2pcs</a>
                    </h3>
      
                    <span class="span title-2">£ 4.95</span>
                  </div>
      
                  <p class="card-text label-1">
                    Enjoy our authentic Medu Vada—crispy, golden, and perfectly spiced for an irresistible South Indian treat!
                  </p>
                </div>
              </div>
            </li>
      
            <li>
              <div class="menu-card hover:card">
                <figure
                  class="card-banner img-holder"
                  style="--width: 100; --height: 100"
                >
                  <img
                    src="/img/menu/menu-1.png"
                    width="100"
                    height="100"
                    loading="lazy"
                    alt="Lassi"
                    class="img-cover"
                  />
                </figure>
      
                <div>
                  <div class="title-wrapper">
                    <h3 class="title-3">
                      <a href="#" class="card-title">Chicken Dum Briyani</a>
                    </h3>
      
                    <span class="span title-2">£ 7.95</span>
                  </div>
      
                  <p class="card-text label-1">
                    Savor the rich flavors of Hyderabadi Dum Biryani—fragrant rice, tender chicken, and authentic spices in every bite!
                  </p>
                </div>
              </div>
            </li>
      
            <li>
              <div class="menu-card hover:card">
                <figure
                  class="card-banner img-holder"
                  style="--width: 100; --height: 100"
                >
                  <img
                    src="/img/menu/vegbriyani.png"
                    width="100"
                    height="100"
                    loading="lazy"
                    alt="Paneer tikka masala"
                    class="img-cover"
                  />
                </figure>
      
                <div>
                  <div class="title-wrapper">
                    <h3 class="title-3">
                      <a href="#" class="card-title">Veg-briyani</a>
                    </h3>
      
                    <span class="badge label-1"></span>
      
                    <span class="span title-2">£ 6.95</span>
                  </div>
      
                  <p class="card-text label-1">
                    Delight in our authentic Veg Biryani—aromatic, flavorful, and a true taste of North Indian tradition!
                  </p>
                </div>
              </div>
            </li>
      
            <li>
              <div class="menu-card hover:card">
                <figure
                  class="card-banner img-holder"
                  style="--width: 100; --height: 100"
                >
                  <img
                    src="/img/menu/paneer.png"
                    width="100"
                    height="100"
                    loading="lazy"
                    alt="Pani puri 5 pcs"
                    class="img-cover"
                  />
                </figure>
      
                <div>
                  <div class="title-wrapper">
                    <h3 class="title-3">
                      <a href="#" class="card-title">Paneer Tikka Masala</a>
                    </h3>
      
                    <span class="span title-2">£ 7.45</span>
                  </div>
      
                  <p class="card-text label-1">
                    Indulge in our authentic Paneer Tikka Masala—creamy, spicy, and bursting with North Indian flavors!
                  </p>
                </div>
              </div>
            </li>
      
            <li>
              <div class="menu-card hover:card">
                <figure
                  class="card-banner img-holder"
                  style="--width: 100; --height: 100"
                >
                  <img
                    src="/img/menu/menu-2.png"
                    width="100"
                    height="100"
                    loading="lazy"
                    alt="Butter Naan"
                    class="img-cover"
                  />
                </figure>
      



              <div>
                <div class="title-wrapper">
                  <h3 class="title-3">
                    <a href="#" class="card-title">Chicken Karai</a>
                  </h3>
    
                  <span class="span title-2">£ 8.95</span>
                </div>
    
                <p class="card-text label-1">
                  A spicy and flavorful Indian delicacy cooked with chicken, tomatoes, and aromatic spices in a traditional wok.
                </p>
              </div>
            </div>



            </li>
      
            <!-- New Menu Item 1 -->
            <li>
              <div class="menu-card hover:card">
                <figure
                  class="card-banner img-holder"
                  style="--width: 100; --height: 100"
                >
                  <img
                    src="/img/menu/menu-6.png"
                    width="100"
                    height="100"
                    loading="lazy"
                    alt="Vegetable Samosa"
                    class="img-cover"
                  />
                </figure>
      
                <div>
                  <div class="title-wrapper">
                    <h3 class="title-3">
                      <a href="#" class="card-title">Butter Naan</a>
                    </h3>
      
                    <span class="span title-2">£ 2.45</span>
                  </div>
      
                  <p class="card-text label-1">
                    Savor our soft and buttery Naan—perfectly flaky and a North Indian classic!
                  </p>
                </div>
              </div>
            </li>
      
            <!-- New Menu Item 2 -->
            <li>
              <div class="menu-card hover:card">
                <figure
                  class="card-banner img-holder"
                  style="--width: 100; --height: 100"
                >
                  <img
                    src="/img/menu/rasmali.png"
                    width="100"
                    height="100"
                    loading="lazy"
                    alt="Masala Chai"
                    class="img-cover"
                  />
                </figure>
      
                <div>
                  <div class="title-wrapper">
                    <h3 class="title-3">
                      <a href="#" class="card-title">Rasmalai 2pcs</a>
                    </h3>
      
                    <span class="span title-2">£ 4.45</span>
                  </div>
      
                  <p class="card-text label-1">
                    Delight in our authentic Rasmalai—soft, spongy, and soaked in rich, creamy saffron-infused milk!
                  </p>
                </div>
              </div>
            </li>
          </ul>
      
          <p class="menu-text text-center">
            Crafting Flavors<span class="span">, Creating Memories</span>-
            <span class="span">Authentic Indian Delights Await!</span>
          </p>
      
          <a href="/menu" class="btn btn-primary">
            <span class="text text-1">View All Menu</span>
      
            <span class="text text-2" aria-hidden="true">View All Menu</span>
          </a>
      
          <img
            src="/img/bottomr.png"
            width="921"
            height="1036"
            loading="lazy"
            alt="shape"
            class="shape shape-2 move-anim"
          />
          <img
            src="/img/clipart876929.png"
            width="343"
            height="345"
            loading="lazy"
            alt="shape"
            class="shape shape-3 move-anim"
          />
        </div>
      </section>
      

        <!-- 
        - #TESTIMONIALS
      -->

        <section class="section testi text-center has-bg-image">
          <div class="container">
            <div class="quote">”</div>

            <p class="headline-2 testi-text">
              Experience the true essence of India—Rich history of flavors , carefully crafted and served with love.
            </p>

            <div class="wrapper">
            </div>
          </div>
        </section>

        <section id="reservation">
          <div class="container">
            <div class="form reservation-form bg-black-10">
              <!-- Reservation Form -->
              <form
                action="/reservations/submit"
                method="post"
                class="form-left"
                id="reservationForm"
              >
                <h2 class="headline-1 text-center">Online Reservation</h2>
                <p class="form-text text-center">
                 Call for booking request
                  <a href="tel:+442035607407" class="body-1 contact-number">020 3560 7407</a>
                  or fill out the order form
                </p>
        
                <div class="input-wrapper">
                  <input
                    type="text"
                    name="name"
                    placeholder="Your Name"
                    autocomplete="off"
                    class="input-field"
                    required
                  />
                  <input
                    type="email"
                    name="email"
                    placeholder="E-Mail"
                    autocomplete="off"
                    class="input-field"
                    required
                  />
                </div>
        
                <div class="input-wrapper">
                  <div class="icon-wrapper">
                    <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
                    <select name="noOfPersons" class="input-field" required>
                      <option value="" disabled selected>No. of Persons</option>
                      <!-- Condensed options -->
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                      <option value="29">29</option>
                      <option value="30">30</option>
                      <option value="31">31</option>
                      <option value="32">32</option>
                      <option value="33">33</option>
                      <option value="34">34</option>
                      <option value="35">35</option>
                      <option value="36">36</option>
                      <option value="37">37</option>
                      <option value="38">38</option>
                      
                    </select>
                    <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
                  </div>
        
                  <div class="icon-wrapper">
                    <ion-icon name="calendar-clear-outline" aria-hidden="true"></ion-icon>
                    <input
                      type="date"
                      name="bookingDate"
                      class="input-field"
                      required
                    />
                  </div>
        
                  <div class="icon-wrapper">
                    <ion-icon name="fast-food-outline" aria-hidden="true"></ion-icon>
                    <select name="mealType" class="input-field" required>
                      <option value="" disabled selected>Meal Type</option>
                      <option value="breakfast">Breakfast</option>
                      <option value="lunch">Lunch</option>
                      <option value="dinner">Dinner</option>
                    </select>
                  </div>
        
                  <div class="icon-wrapper">
                    <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
                    <select name="timeSlot" class="input-field" required>
                      <option value="" disabled selected>Preferred Time</option>
                      <option value="9:00am">9:00 AM</option>
                      <option value="12:00pm">12:00 PM</option>
                      <option value="3:00pm">3:00 PM</option>
                      <option value="6:00pm">6:00 PM</option>
                      <option value="8:00pm">8:00 PM</option>
                    </select>
                  </div>
                </div>
        
                <textarea
                  name="message"
                  placeholder="Message"
                  autocomplete="off"
                  class="input-field"
                ></textarea>
        
                <button type="submit" class="btn btn-secondary">
                  <span class="text text-1">Reserve a Table</span>
                  <span class="text text-2" aria-hidden="true">Reserve a Table</span>
                </button>
        
                <div id="reservationFormLoader" style="display: none;"></div>
                <p id="formMessage" class="form-message text-center"></p>
              </form>
            </div>
          </div>
        </section>
        <!-- 
        - #FEATURES
      -->

        <section class="section features text-center" aria-label="features">
          <div class="container">
            <p class="section-subtitle label-2">Why to Choose Us</p>

            <h2 class="headline-1 section-title">Our Strength</h2>

            <ul class="grid-list">
              <li class="feature-item">
                <div class="feature-card">
                  <div class="card-icon">
                    <img
                      src="/img/icons/foodquality.png"
                      width="100"
                      height="80"
                      loading="lazy"
                      alt="icon"
                    />
                  </div>

                  <h3 class="title-2 card-title">Quality of Food</h3>

                  <p class="label-1 card-text">
                    Fresh and locally sourced ingredients.
                  </p>
                </div>
              </li>

              <li class="feature-item">
                <div class="feature-card">
                  <div class="card-icon">
                    <img
                      src="/img/icons/Ambiance.png"
                      width="100"
                      height="80"
                      loading="lazy"
                      alt="icon"
                    />
                  </div>

                  <h3 class="title-2 card-title">Ambiance</h3>

                  <p class="label-1 card-text">
                    Unique and cozy dining environment.
                  </p>
                </div>
              </li>

              <li class="feature-item">
                <div class="feature-card">
                  <div class="card-icon">
                    <img
                      src="/img/icons/Costomer service.png"
                      width="100"
                      height="80"
                      loading="lazy"
                      alt="icon"
                    />
                  </div>

                  <h3 class="title-2 card-title">Customer Service</h3>

                  <p class="label-1 card-text">
                    Quick and seamless dining experience.
                  </p>
                </div>
              </li>

              <li class="feature-item">
                <div class="feature-card">
                  <div class="card-icon">
                    <img
                      src="/img/icons/diverse menu.png"
                      width="100"
                      height="80"
                      loading="lazy"
                      alt="icon"
                    />
                  </div>

                  <h3 class="title-2 card-title">Diversity in Menu</h3>

                  <p class="label-1 card-text">
                    Wide variety of indian cuisines.
                  </p>
                </div>
              </li>
            </ul>

            <img
              src="/img/shape-9.png"
              width="208"
              height="178"
              loading="lazy"
              alt="shape"
              class="shape shape-1"
            />

            <img
              src="/img/bottomr.png"
              width="120"
              height="115"
              loading="lazy"
              alt="shape"
              class="shape shape-2"
            />
          </div>
        </section>

        <!-- 
        - #EVENT
      --></article>
    </main>

    <!-- 
    - #FOOTER
  -->

    <footer class="footer section has-bg-image text-center">
      <div class="container">
        <div class="footer-top grid-list">
          <div class="footer-brand has-before has-after">
            <a href="#" class="logo">
              <img
                src="/img/logofull.png"
                width="180"
                height="50"
                loading="lazy"
                alt="grilli home"
              />
            </a>

            <address class="body-4">
              217 Station Road Harrow, Harrow HA1 2TH London
            </address>

            <a href="#" class="body-4 contact-link"
              >info@masaladhaba.co.uk</a
            >

            <a href="tel:+442035607407" class="body-4 contact-link" style="white-space: nowrap;">
              Booking / Order Request : <span style="font-weight: bold;">020 3560 7407</span>
            </a>
            

            <div class="wrapper">
            </div>

            <!-- <p class="label-1">
            Subscribe us<span class="span"></span>
          </p> -->

            <!-- <form action="" class="input-wrapper">
            <div class="icon-wrapper">
              <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>

              <input type="email" name="email_address" placeholder="Your email" autocomplete="off" class="input-field">
            </div>

            <button type="submit" class="btn btn-secondary">
              <span class="text text-1">Subscribe</span>

              <span class="text text-2" aria-hidden="true">Subscribe</span>
            </button>
          </form> -->
          </div>

          <ul class="footer-list">
            <li>
              <a href="#" class="label-2 footer-link">Home</a>
            </li>

            <li>
              <a href="/menu" class="label-2 footer-link">Menus</a>
            </li>

            <li>
              <a href="#about" class="label-2 footer-link"
                >About Us</a
              >
            </li>

            <li>
              <a href="/time" class="label-2 footer-link"
                >Timings</a
              >
            </li>

          </ul>

          <ul class="footer-list">
            <li>
              <a href="https://www.instagram.com/masaladhabalondon/?igsh=MXRtYXQ3amU3ODRxcg%3D%3D" class="label-2 footer-link"
                >Instagram</a
              >
            </li>

            <li>
              <a href="/map" class="label-2 footer-link"
                >Google Map</a
              >
            </li>
          </ul>
        </div>

        <div class="footer-bottom">
          <p class="copyright">&copy; 2024 Masala-Dhaba. All Rights Reserved</p>
        </div>
      </div>
    </footer>

    <!-- 
    - #BACK TO TOP
  -->

    <a
      href="#top"
      class="back-top-btn active"
      aria-label="back to top"
      data-back-top-btn
    >
      <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
    </a>

    <script src="https://unpkg.com/lenis@1.1.17/dist/lenis.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>

    <!-- 
    - custom js link

  -->

     <script src="/js/script.js"></script> 
<!--    <script src="./script.js"></script>-->

    <!-- 
    - ionicon link
  -->
    
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>