<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MasalaDhaba | Indian Bar & Restaurant&reg;</title>
    <link rel="stylesheet" type="text/css" href="/css/time.css">
</head>
<body>
    <div class="back-button-container">
        <button class="back-button" onclick="goBack()">Back</button>
    </div>
    <div class="timetable-container">
        <h1>Restaurant Timetable</h1>
        <table class="timetable">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Breakfast</th>
                    <th>Lunch</th>
                    <th>Dinner</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Monday</td>
                    <td>9:00 AM - 11:30 AM</td>
                    <td>12:00 PM - 3:00 PM</td>
                    <td>5:30 PM - 10:00 PM</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>9:00 AM - 11:30 AM</td>
                    <td>12:00 PM - 3:00 PM</td>
                    <td>5:00 PM - 10:00 PM</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>9:00 AM - 11:30 AM</td>
                    <td>12:00 PM - 3:00 PM</td>
                    <td>5:00 PM - 10:00 PM</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>9:00 AM - 11:30 AM</td>
                    <td>12:00 PM - 3:00 PM</td>
                    <td>5:00 PM - 10:00 PM</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>9:00 AM - 11:30 AM</td>
                    <td>12:00 PM - 3:00 PM</td>
                    <td>5:00 PM - 10:00 PM</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>9:00 AM - 11:30 AM</td>
                    <td>12:00 PM - 3:00 PM</td>
                    <td>5:00 PM - 10:30 PM</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>9:00 AM - 11:30 AM</td>
                    <td>12:00 PM - 3:00 PM</td>
                    <td>5:00 PM - 10:30 PM</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
